@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-family: "Roboto", sans-serif;
}
.ant-menu-item {
  padding: 30px 0;
}

.ant-menu-item a {
  color: #fff;
}

.ant-menu-item:hover {
  background-color: #fff;
}

.bg-container {
  background: url(../public/images/bg-container.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
